input {
  border: none;
  width: 35%;
  padding: 10px;
  font-size: 15px;
  display: flex;
  margin-inline:auto;
  justify-content: center;
  background-color: #d0d0d0;
}
p{
  padding-left: 33%;
}
.backBtn{
    padding:5px;
  width: 220px;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  margin-top: 20px;
  height: 30px;
  justify-content: center;
  margin-right: 5px;
}
.appointBtn{
  padding:5px;
  width: 220px;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  margin-top: 20px;
  height: 30px;
  justify-content: center;
  margin-left: 5px;
}

.bton{
  display: flex;
  justify-content: center;
}