.aInp-5,.aInp-1,.aInp-2,.aInp-3{
  border: none;
  padding: 7px;
  margin-left: 3px;
  font-size: 15px;
  display: flex;
  background-color: #e3e3e3;
  float: left;
  height:7px;
}
.aInp-1{
  width: 91%;
}
.aInp-2{
  width: 76%;
}
.aInp-3{
  width: 62%;
}
.aInp-5{
  width: 58%;
}
.appointBtn{
  padding:5px;
  width: 220px;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  margin-top: 20px;
  height: 30px;
  justify-content: center;
  margin-left: 5px;
}

.abton{
  display: flex;
  justify-content: center;
}
tr{
  display: flex;
  justify-content: left;
}
.atable{
    margin-left:68px;
}


