.atable{
    margin-left:68px;
}
.atable tr{
  display: flex;
  justify-content: left;
}

.c_workorder{
    margin-left:60px;
}
.c_workorder tr{
    display:flex;
    justify-content: left;
}
.c_car{
    margin-left:60px;
}
.c_car tr{
    display:flex;
    justify-content: left;
}
.wInp-1,.wInp-2,.wInp-3,.wInp-4,
.wInp-5,.wInp-6,.wInp-7,.wInp-8,
aInp-1,aInp-2,aInp-3,aInp-5,
.cInp-1,.cInp-2,.cInp-3,
.cInp-4,.cInp-5,.cInp-6,.cInp-7,
.cInp-8,.cInp-9{
  border: none;
  padding: 2px;
  height:20px;
  display:flex;
  justify--content: left;
  font-size: 15px;
  background-color: #e3e3e3;
}

.cInp-1{
    width: 120px;
}
.cInp-2{
  width: 120px;
}
.cInp-3{
  width: 120px;
}
.cInp-4{
  width: 200px;
}
.cInp-5{
  width: 200px;
}
.cInp-6{
  width: 200px;
}
.cInp-7{
  width: 200px;
}
.cInp-8{
  width: 200px;
}
.cInp-9{
  width: 200px;
}

label{
    display:flex;
    padding-top:3px;
}
.widget {
  padding: 20px 30px;
  background: white;
  font-family: 'Roboto', sans-serif;
  width: 20%;
  vertical-align:center;
}
.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-left: 2px solid #b99d61;
}
.widget-list {
  padding: 0;
  list-style: none;
}

.widget-list a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0;
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
  transition: .3s linear;
}
.widget-list a:hover {color: #b99d61;}


.modalD{
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 99999;
	display: none;
}
.modalD:target {
    display: contents;
}

.c_table{
  margin-top: 30px;
  width: 80%;
  float: right;
  margin-right: 30px;
  padding: 20px;
  border: 5px solid #f1f1f1;
  background: #fff;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;

}
.c_table h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color:  #424949;
}
.c_table th {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
}
.c_table td {
  vertical-align:top;
  list-style: none;
  border-bottom: 1px solid #eaeaea;
}
.c_table td:last-child {
  border-bottom: none;
}
.c_table a {
  text-decoration: none;
  color:  #616a6b;
  display: inline-block;
}
.c_table td:before {
  font-family: FontAwesome;
  font-size: 20px;
  color: #dd3333;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    color: black;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 450px;
	position: relative;
	margin: 5% auto;
	padding: 1px 1px 10px 10px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -8px;
	width: 24px;
	height:10px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


.btn{
	color: #black;
	right: 8px;
	height:25px;
	top: -10px;
	border:none;
	border-radius: 19px;
    font-size:15px;
}

.aInp-5,.aInp-1,.aInp-2,.aInp-3,
.wInp-1,.wInp-2,.wInp-3,.wInp-4,
.wInp-5,.wInp-6,.wInp-7,.wInp-8{
  border: none;
  padding: 2px;
  height:20px;
  display:flex;
  justify--content: left;
  font-size: 15px;
  background-color: #e3e3e3;
}
.aInp-1{
  width: 58%;
}
.aInp-2{
  width: 49%;
}
.aInp-3{
  width: 43%;
}
.aInp-5{
  width: 40%;
}
.wInp-1{
  width: 200px;
}
.wInp-2{
  width: 180px;
}
.wInp-3{
  width: 180px;
}
.wInp-4{
  width: 180px;
}
.wInp-5{
  width: 180px;
}
.wInp-6{
  width: 180px;
}
.wInp-7{
  width: 180px;
}
.wInp-8{
  width: 180px;
}
.cbtn{
    display: flex;
    justify-content: center;
}