input {
  border: none;
  width: 35%;
  padding: 10px;
  font-size: 15px;
  display: flex;
  margin-inline:auto;
  background-color: #d5d4d4;
}
.ebtton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.eenterBtn {
  padding-top: 4px;
  width: 150px;
  height: 30px;
  color: #000000;
  background: #ecb832;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  bottom: 70px;
  margin-top: 20px;
}
.enterBtn:hover {
  background-color: #a8a7a7;
}
.evisitBtn:hover {
  background-color: #a8a7a7;
}
#nullExit{
  text-align: center;
  padding: 10px;
  color: red;
  font-size: 20px;
}