.lInp-5,.lInp-1,.lInp-2,.lInp-3,.lInp-4{
  border: none;
  padding: 12px;
  margin-top: 15px;
  margin-left: 3px;
  font-size: 15px;
  display: flex;
  background-color: #e3e3e3;
}
.lInp-1{
  width: 58%;
}
.lInp-2{
  width: 49%;
}
.lInp-3{
  width: 55%;
}
.lInp-4{
  width: 52%;
}
.lInp-5{
  width: 49%;
}
.linput{
  display: flex;
  height: 30px;
  justify-content: center;
}
.lbtton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lenterBtn {
  width: 40%;
  height: 30px;
  color: #000000;
  background: #ecb832;
  font-size: 15px;
  display: inline-block;
  justify-content: center;
  bottom: 70px;
  margin-top: 20px;
}
.lenterBtn:hover {
  background-color: #a8a7a7;
}