.login{
  margin-top: 6%;
}

.btton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  border: none;
  width: 35%;
  padding: 10px;
  font-size: 15px;
  display: flex;
  margin-inline:auto;
  justify-content: center;
  background-color: #d0d0d0;
}

.visitBtn{
  width: 15%;
  height: 35px;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  display: inline-block;
  justify-content: center;
  bottom: 70px;
  margin-top: 20px;
  margin-right: 10px;
}

.enterBtn {
  width: 15%;
  height: 35px;
  color: #000000;
  background: #ecb832;
  font-size: 15px;
  display: inline-block;
  justify-content: center;
  bottom: 70px;
  margin-top: 20px;
}

p{
  margin-left: 33%;
}
.visitBtn:hover {
  background-color: #a8a7a7;
}

.enterBtn:hover {
  background-color: #a8a7a7;
}