.login{
  margin-top: 10%;
}

.btton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  border: none;
  width: 35%;
  padding: 10px;
  font-size: 16px;
  display: flex;
  margin-inline:auto;
  justify-content: center;
  background-color: #d0d0d0;
}

.visitBtn{
  width: 10%;
  height: 35px;
  color: #3c75e8;
  font-size: 25px;
  display: inline-block;
  justify-content: center;
  bottom: 70px;
  margin-top: 20px;
  margin-right: 10px;
}

.enterBtn {
  width: 20%;
  height: 35px;
  color: #3c75e8;
  font-size: 25px;
  display: inline-block;
  justify-content: center;
  bottom: 70px;
  margin-top: 20px;
}

.visitBtn:hover {
  background-color: #a8a7a7;
}

.enterBtn:hover {
  background-color: #a8a7a7;
}