.widget {
  padding: 20px 30px;
  background: white;
  font-family: 'Roboto', sans-serif;
  width: 20%;
  vertical-align:center;
}
.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-left: 2px solid #b99d61;
}
.widget-list {
  padding: 0;
  list-style: none;
}

.widget-list a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0;
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
  transition: .3s linear;
}
.widget-list a:hover {color: #b99d61;}


.dialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 99999;
	display: none;
	pointer-events: none;
}
.dialog:target {
    display: contents;
	pointer-events: auto;
}

.m_table{
  margin-top: 30px;
  width: 80%;
  float: right;
  margin-right: 30px;
  padding: 20px;
  border: 5px solid #f1f1f1;
  background: #fff;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;

}
.m_table h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color:  #424949;
}
.m_table th {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 250px;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
}
.m_table td {
  vertical-align:top;
  list-style: none;
  border-bottom: 1px solid #eaeaea;
}
.m_table td:last-child {
  border-bottom: none;
}
.m_table a {
  text-decoration: none;
  color:  #616a6b;
  display: inline-block;
}
.m_table td:before {
  font-family: FontAwesome;
  font-size: 20px;
  color: #dd3333;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    color: black;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -8px;
	width: 24px;
	height: 10px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.btton{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.btn{
	color: #black;
	right: 8px;
	height:25px;
	margin-left:10px;
	top: -10px;
	border:none;
	border-radius: 19px;
    font-size:15px;
}


.lInp-5,.lInp-1,.lInp-2,.lInp-3,
.lInp-4,.cInp-1,.cInp-2,.cInp-3,
.cInp-4,.cInp-5,.cInp-6,.cInp-7,
.cInp-8,.cInp-9,.sInp-1,.sInp-2,
.tInp-1,.tInp-2,.tInp-3,.tInp-4,
.spInp-1,.spInp-2,.spInp-3,.spInp-4{
  border: none;
  padding: 2px;
  margin-top: 13px;
  margin-left: 3px;
  height:20px;
  font-size: 15px;
  display: flex;
  background-color: #e3e3e3;
}
.spInp-1{
    width: 58%;
}
.spInp-2{
    width: 72%;
}
.spInp-3{
    width: 47%;
}
.spInp-4{
    width: 69%;
}
.lInp-1{
  width: 28%;
}
.lInp-2{
  width: 49%;
}
.lInp-3{
  width: 55%;
}
.lInp-4{
  width: 52%;
}
.lInp-5{
  width: 49%;
}
.cInp-1{
    width: 44%;
}.cInp-2{
    width: 40%;
}
.cInp-3{
    width: 24%;
    margin-right:5px;
}
.cInp-4{
    width: 22%;
}
.cInp-5{
    width: 50%;
}.cInp-6{
    width: 57%;
}
.cInp-7{
    width: 77%;
}
.cInp-8{
    width: 40%;
}
.minput{
  display: flex;
  flex-direction: row;
  list-style-type: none;

}
.mbtn{
    display: flex;
    justify-content: center;
}
.stl_car{
    margin-left:30px;
}
.sInp-1{
    width:20%;
}
.tInp-1{
    width:50%;
}
.tInp-2{
    width:51%;
}
.tInp-3{
    width:46%;
}
.tInp-4{
    width:66%;
}
.menterBtn {
  width: 40%;
  height: 30px;
  color: #000000;
  background: #ecb832;
  font-size: 15px;
  display: inline-block;
  justify-content: center;
  bottom: 70px;
  margin-top: 20px;
}
