.oInp-1,.oInp-2{
  border: none;
  padding: 12px;
  margin-top: 15px;
  margin-left: 3px;
  font-size: 15px;
  display: flex;
  background-color: #e3e3e3;
}
.oInp-1{
  width: 58%;
}
.oInp-2{
  width: 49%;
}
.oinput{
  display: flex;
  height: 30px;
  justify-content: center;
}

.osubmitBtn{
   width: 45%;
  height: 30px;
  color: #000000;
  background: #ecb832;
  font-size: 15px;
  bottom: 70px;
  margin-top: 20px;
  justify-content: center;
  margin-left: 5px;
}

.obtton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.messages{
    font-size:15px;
}

.mess{
    color:green;
    font-size:15px;
    display:flex;
    margin-left:100px;
    margin-top:20px;
}