input {
  border: none;
  width: 35%;
  padding: 10px;
  font-size: 15px;
  display: flex;
  margin-inline:auto;
  justify-content: center;
  background-color: #d0d0d0;
}
.osubmitBtn{
   width: 45%;
  height: 35px;
  color: #000000;
  background: #ecb832;
  font-size: 15px;
  bottom: 70px;
  margin-top: 20px;
  justify-content: center;
  margin-left: 5px;
}

.obtton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}