body{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.gradient{
  background: black;
  height: 50%;
  color: #fafafa;
  width:100%;
}

.hat{
  background: black;
  margin-bottom: 1px;
  color: #fafafa;
  padding: 0px;
  margin-top: 0px;
}

.text-fon{
  color: #fafafa;
  width: 550px;
  text-align: center;
  padding-right: 20%;
  padding-top: 7%;
  padding-bottom: 30px;
}

.address{
  font-size: 25px;
  margin-right: 7%;
  margin-top: 15px;
}
a{
  color: #fafafa;
}

.btton{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.bton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
}

.phoneBtn{
  width: 220px;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 20px;
  height: 30px;
  font-weight: normal;
}
.serviceBtn{
  width: 250px;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 20px;
  height: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
.loginBtn {
  float: right;
  width: 120px;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 20px;
  height: 30px;
  margin-bottom: 20px;
}

.enterBtn {
  float: right;
  width: 60px;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  justify-content: center;
  margin-right: 20px;
  margin-top: 20px;
  height: 30px;
}

.loginBtn:hover {
  background-color: #a8a7a7;
}

.enterBtn:hover {
  background-color: #a8a7a7;
}
