.gradient{
  background: black;
  height: 390px;
  color: #fafafa;
  width:100%;
}

.hat{
  background: black;
  margin-bottom: 1px;
}

.text-fon{
  color: #fafafa;
  width: 550px;
  text-align: center;
  padding-right: 100px;
  padding-top: 90px;
  padding-bottom: 30px;
}

.address{
  font-size: 25px;
  color: #fafafa;
  margin-right: 210px;
  text-decoration: underline;
}

.spang{
  margin-left: 70px;
  margin-top: 70px;
  font-size: 40px;
  color: #fafafa;
  font-weight: normal;
}
.btton{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.bton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
}

.phoneBtn{
  width: 20%;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 20px;
  height: 30px;
  font-weight: normal;
}
.serviceBtn{
  width: 20%;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 20px;
  height: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
.loginBtn {
  float: right;
  width: 10%;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 20px;
  height: 30px;
  margin-bottom: 20px;
}

.enterBtn {
  float: right;
  width: 5%;
  background: #ecb832;
  color: #000000;
  font-size: 15px;
  justify-content: center;
  margin-right: 10px;
  margin-top: 20px;
  height: 30px;
}

.loginBtn:hover {
  background-color: #a8a7a7;
}

.enterBtn:hover {
  background-color: #a8a7a7;
}