
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/appointment.css'%}" type="text/css">
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Запись на прием</h1>
    <form id="my" method="post">
        {% csrf_token %}
        <div class="atable">
        <table >
            {{ appointmentform.as_table }}
        </table></div>
        <span> {{ error }}</span>
        <span class="mess"> {{ messappoint }}</span>
        <div class="abton">
            <button type="submit" name="appointmentSubmit" id="appointmentsubmit" class="appointBtn">Записаться</button>
        </div>
    </form>
{% endblock %}
