{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/appointment.css'%}" type="text/css">
{% endblock %}

{% block title %}Запись на прием{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Запись на прием</h1>
    <form id="my" method="post">
        {% csrf_token %}
        <p>Имя</p>
        {{ appointmentform.name }}
        <p>Телефон</p>
        {{ appointmentform.telephone }}
        <p>Автомобиль</p>
        {{appointmentform.car }}
        <p>Дата осмотра/ремонта</p>
        {{ appointmentform.data }}
        <span> {{ error }}</span>
        <div class="abton">
            <button type="submit" name="appointmentSubmit" class="appointBtn">Записаться</button>
        </div>
    </form>
{% endblock %}
