<div id="c_add_form" class="modalD">
    <input onclick="window.location.href='#f_work_order'" title="Добавить" class="btn" value="Заказ-наряд">
    <input onclick="window.location.href='#f_appointment'" title="Добавить" class="btn" value="Обращение">
</div>

<div id="f_work_order" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
         <form method="post">
            {% csrf_token %}
            <div class="btton">
                <p>Дата начала:</p>{{ workorderform.date_appeal}}
                <p>Дата заверщения:</p>{{ workorderform.date_completion }}</div>
            <div class="btton">
                    <p>Причина обращения:</p>{{ workorderform.reason_petition }}</div>
            <div class="btton">
                    <p>Общая стоимость:</p>{{workorderform.total_cost }}
                    <p>Статус заказа:</p>{{workorderform.order_status }}</div>
            <div class="btton">
                    <p>Номер автомобиля:</p>{{ workorderform.car_id }}
                    <option value="{{ workorderform.car_id }}">{{ workorderform.car_id  }}</option>
                    <p>Номер запчасти:</p>{{ workorderform.stuff_id }}
                    <p>Номер обращения:</p>{{ workorderform.appointment_id }}
            </div>
            <button type="submit" name="workorderSubmit" class="lenterBtn" >Добавить</button>
        </form>
    </div>
</div>


<div id="f_appointment" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
        <form method="post">
            {% csrf_token %}
            <div class="btton">
                <p>Имя:</p>{{ appointmentform.name }}
            </div>
            <div class="btton">
                <p>Телефон:</p>{{ appointmentform.telephone }}
            </div>
            <div class="btton">
                <p>Автомобиль:</p>{{appointmentform.car }}
            </div>
            <div class="btton">
                <p>Дата осмотра:</p>{{ appointmentform.data }}
            </div>
            <span> {{ error }}</span>
            <div class="btton">
                <button type="submit" name="appointmentSubmit" class="appointBtn">Записаться</button>
            </div>
        </form>
    </div>
</div>