<div id="c_add_form" class="modalD">
    <a href='#f_work_order' title="Добавить" class="btn">Заказ-наряд</a>
    <a href='#f_appointment' title="Добавить" class="btn">Обращение</a>
    <a href='#f_car' title="Добавить" class="btn">Автомобиль</a>
</div>

<div id="f_work_order" class="modalDialog">
    <div>
        <h2 style="text-align:center;">Добавить заказ-наряд</h2>
        <a href="#close" title="Закрыть" class="close">X</a>
        <form method="post">
            {% csrf_token %}
            <table class="c_workorder">
                {{ mworkorderform.as_table }}
             </table>
            <span>{{errorworkorder}}</span>
            <div class="cbtn">
                <button type="submit" name="workorderSubmit" class="appointBtn" >Добавить</button></div>
        </form>
    </div>
</div>
<div id="f_car" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
        <h2 style="text-align: center">Добавление автомобиля</h2>
         <form method="post" class="stl_car">
            {% csrf_token %}
             <table class="c_car">
                {{ carform.as_table }}
             </table>
             <span>{{errorcar}}</span>
             <div class="cbtn">
                 <button type="submit" name="carSubmit" class="appointBtn">Добавить</button>
             </div>
        </form>
    </div>
</div>

<div id="f_appointment" class="modalDialog">
    <div>
        <h2 style="text-align:center;">Добавить обращение</h2>
        <a href="#close" title="Закрыть" class="close">X</a>
        <form method="post">
            {% csrf_token %}
            <table class="atable">
                {{ appointmentform.as_table }}
             </table>
            <span> {{ errorappoint }}</span>
            <div class="cbtn">
                <button type="submit" name="appointmentSubmit" class="appointBtn">Записаться</button>
            </div>
        </form>
    </div>
</div>