 <table id="c_table">
        <tr>
            <th>Номер обращения:</th>
            <th>Имя:</th>
            <th>Телефон:</th>
            <th>Автомобиль:</th>
            <th>Дата обращения:</th>
        </tr>
            {% for appointment in appointments %}
                <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.name}}</td>
                <td>{{ appointment.telephone}}</td>
                <td>{{ appointment.car}} </td>
                <td>{{ appointment.data | date:"d.m.Y"}}</td>
                </tr>
            {% endfor %}

    </table>