<table id="c_table">
        <tr>
            <th>Номер заказа:</th>
            <th>Дата начала:</th>
            <th>Дата заверщения:</th>
            <th style="width: 20%">Причина обращения:</th>
            <th>Общая стоимость:</th>
            <th>Статус заказа:</th>
            <th>Номер автомобиля:</th>
            <th>Номер запчасти:</th>
            <th>Номер обращения:</th>
        </tr>
            {% for clientworkorder in clientworkorders %}
                <tr>
                <td>{{ clientworkorder.id }}</td>
                <td>{{ clientworkorder.date_appeal| date:"d.m.Y" }}</td>
                <td>{{ clientworkorder.date_completion | date:"d.m.Y"}}</td>
                <td>{{ clientworkorder.reason_petition}}</td>
                <td>{{ clientworkorder.total_cost}}</td>
                <td>{{ clientworkorder.order_status}}</td>
                <td>{{ clientworkorder.car_id}}</td>
                <td>{{ clientworkorder.stuff_id}}</td>
                <td>{{ clientworkorder.appointment_id}}</td>
                </tr>
            {% endfor %}
    </table>