{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/client.css'%}" type="text/css">
{% endblock %}

{% block title %}Страница клиента{% endblock %}

{% block content %}

    <div id="c_work_order" class="modalD">{% include "c_work_order.html" %}</div>
    <div id="c_user" class="modalD">{% include "c_user.html" %}</div>
    <div id="c_appointment" class="modalD">{% include "c_appointment.html" %}</div>
    <div class="widget">
      <h3 class="widget-title">Категории</h3>
      <div class="widget-list">
        <div class="btton">
            <button onclick="window.location.href='#appointment'" title="Добавить" class="btn" >+</button>
            <a href="#c_work_order">Заказ-наряд</a>
        </div>
        <div class="btton">
            <button onclick="window.location.href='#appointment'" title="Добавить" class="btn" >+</button>
            <a href="#c_user">Пользователь</a>
        </div>
        <div class="btton">
            <button onclick="window.location.href='#appointment'" title="Добавить" class="btn" >+</button>
            <a href="#c_appointment">Обращения</a>
        </div>
          <div><a href="/">Выйти</a></div>
      </div>
    </div>
    <div id="appointment" class="modalDialog">
                <div>
                    <a href="#close" title="Закрыть" class="close">X</a>
                    {% include "appointment.html" %}
                </div>
            </div>
{% endblock %}