{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/client.css'%}" type="text/css">
{% endblock %}

{% block title %}Страница клиента{% endblock %}

{% block content %}

<div id="c_appointment" class="modalD">
     <table class="c_table">
        <tr>
            <th>Номер обращения:</th>
            <th>Имя:</th>
            <th>Телефон:</th>
            <th>Автомобиль:</th>
            <th>Дата обращения:</th>
        </tr>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.name}}</td>
                    <td>{{ appointment.telephone}}</td>
                    <td>{{ appointment.car}} </td>
                    <td>{{ appointment.data | date:"d.m.Y"}}</td>
                    <td></td>
                </tr>
            {% endfor %}
    </table>
</div>
<div id="c_user" class="modalD">
 <table class="c_table">
        <tr>
            <th>Номер пользователя:</th>
            <th>Логин:</th>
            <th>Пароль:</th>
            <th>ФИО:</th>
            <th>Телефон:</th>
            <th>E-mail:</th>
        </tr>
                <tr>
                    {% for user in users %}
                    <td>{{ user.id}}</td>
                        <td>{{ user.login}}</td>
                        <td>{{ user.password}}</td>
                        <td>{{ user.name_lastname}}</td>
                        <td>{{ user.telephone}}</td>
                        <td>{{ user.e_mail}}</td>
                    {% endfor %}
                    <td></td>
                </tr>
    </table>
</div>
<div id="c_work_order" class="modalD">
    <table class="c_table">
        <tr>
            <th>Номер заказа:</th>
            <th>Дата начала:</th>
            <th>Дата заверщения:</th>
            <th style="width: 20%">Причина обращения:</th>
            <th>Общая стоимость:</th>
            <th>Статус заказа:</th>
            <th>Рег. номер автомобиля:</th>
            <th>Мастер:</th>
            <th>Обращение:</th>
            <th>Услуги:</th>
        </tr>
            {% for clientworkorder in clientworkorders %}
                <tr>
                <td>{{ clientworkorder.id }}</td>
                <td>{{ clientworkorder.date_appeal| date:"d.m.Y" }}</td>
                <td>{{ clientworkorder.date_completion | date:"d.m.Y"}}</td>
                <td>{{ clientworkorder.reason_petition}}</td>
                <td>{{ clientworkorder.total_cost}}</td>
                <td>{{ clientworkorder.order_status}}</td>
                <td>{{ clientworkorder.car}}</td>
                <td>{{ clientworkorder.staff}}</td>
                <td>{{ clientworkorder.appointment}}</td>
                <td>{{ clientworkorder.services.all|join:", "}}</td>
                    <td></td>
                </tr>
            {% endfor %}
    </table>
</div>
<div id="c_car" class="modalD">
        <table class="c_table">
        <tr>
            <th>Номер автомобиля:</th>
            <th>Модель автомобиля:</th>
            <th>Рег. знак:</th>
            <th>Цвет автомобиля:</th>
            <th>Год выпуска:</th>
            <th>Номер двигателя:</th>
            <th>Номер кузова:</th>
            <th>VIN:</th>
            <th>Расстояние в км:</th>
            <th>Владелец:</th>
        </tr>
            {% for car in cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.car_model }}</td>
                    <td>{{ car.register_sign }}</td>
                    <td>{{ car.car_color }}</td>
                    <td>{{ car.year_issue }}</td>
                    <td>{{ car.engine_number }}</td>
                    <td>{{ car.body_number }}</td>
                    <td>{{ car.vin }}</td>
                    <td>{{ car.mileage }}</td>
                    <td>{{ car.user }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="widget">
      <h3 class="widget-title">Категории</h3>
      <ul class="widget-list">
          <li>
              <a href="#c_add_form" title="Добавить">Добавить</a>
              {% include "c_add_form.html" %}
          </li>
          <li class="btton">
              <a href="#c_appointment">Обращения</a>
          </li>
          <li class="btton">
              <a href="#c_car">Автомобиль</a>
          </li>
          <li class="btton">
              <a href="#c_work_order">Заказ-наряд</a>
          </li>
          <li class="btton">
              <a href="#c_user">Пользователь</a>
          </li>

          <li><a href="/">Выйти</a></li>
      </ul>
    </div>
    <div id="appointment" class="modalDialog">
        <div>
            <a href="#close" title="Закрыть" class="close">X</a>
            {% include "appointment.html" %}
        </div>
    </div>
{% endblock %}