{% extends 'index.html' %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/enter.css'%}" type="text/css">
{% endblock %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="exit">
        <h2 style="text-align: center">Авторизация</h2>
        <form method="post">
            {% csrf_token %}
        <p>Логин</p>
        {{ form.login }}
        <p>Пароль</p>
        {{ form.password }}
        <div class="btton">
            <button onclick="window.location.href='visitor.html'" class="visitBtn">Гостевую</button>
            <button type="submit" class="enterBtn">Вход</button>
        </div>
        </form>
        <div id="nullExit">{{ message }}</div>
    </div>
{% endblock %}