{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css">
{% endblock %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="login">
    <h1 style="text-align: center">Авторизация</h1>
    <form method="post">
        {% csrf_token %}
            <p>Имя:</p>
            {{ form.name }}
            <p>Логин:</p>
            {{ form.login }}
            <p>Пароль:</p>
            {{ form.password }}
            <p>Телефон:</p>
            {{ form.telephone }}
        <span> {{ error }}</span>
        <div class="btton">
        <button  onclick="window.location.href='visitor.html'" class="visitBtn">Назад</button>
        <button type="submit" class="enterBtn">Зарегистрироваться</button>
    </div>
    </form>

</div>
{% endblock %}
