{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css">
{% endblock %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="login">
    <h1 style="text-align: center">Регистрация</h1>
    <form method="post"/>
        {% csrf_token %}
        <div class="linput">
            <p>Имя:</p>{{ loginform.name }}</div>
        <div class="linput">
            <p>Фамилия:</p>{{ loginform.lastname }}</div>
        <div class="linput">
            <p>Логин:</p>{{ loginform.login }}</div>
        <div class="linput">
            <p>Пароль:</p>{{ loginform.password }}</div>
        <div class="linput">
            <p>Телефон:</p>{{ loginform.telephone }}</div>
        <span> {{ error }}</span>
        <div class="lbtton">
            <button type="submit" name="loginSubmit" class="lenterBtn" >Зарегистрироваться</button>
        </div>
    </form>
    </div>
{% endblock %}
