<div id="form" class="dialog">
    <a href='#f_work_order' title="Добавить" class="btn">Заказ-наряд</a>
        <a href='#f_car' title="Добавить" class="btn">Автомобиль</a>
        <a href='#f_service' title="Добавить" class="btn">Услугу</a>
        <a href='#f_type_job' title="Добавить" class="btn">Тип работы</a>
        <a href='#f_spare' title="Добавить" class="btn">Запчасти</a>
</div>

<div id="f_car" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
        <h2 style="text-align: center">Добавление автомобиля</h2>
         <form method="post" class="stl_car">
            {% csrf_token %}
             <table class="m_carform">
                {{ carform.as_table }}
             </table>
             <span>{{errorcar}}</span>
             <span>{{messcar}}</span>
             <div class="mbtn">
                 <button type="submit" name="carSubmit" class="menterBtn" >Добавить</button>
             </div>
        </form>
    </div>
</div>
<div id="f_service" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
        <h2 style="text-align: center">Добавление услуги</h2>
        <form method="post" class="stl_car">
            {% csrf_token %}
            <table class="m_serviceform">
                {{ serviceform.as_table }}
             </table>
            <span>{{errorservice}}</span>
             <span>{{messservice}}</span>
        <div class="mbtn">
            <button type="submit" name="serviceSubmit" class="menterBtn" >Добавить</button></div>
        </form>
    </div>
</div>

    <div id="f_type_job" class="modalDialog">
        <div>
        <a href="#close" title="Закрыть" class="close">X</a>
            <h2 style="text-align:center">Добавление тип работы</h2>
         <form method="post" class="stl_car">
            {% csrf_token %}
            <table class="m_typejobform">
                {{ typejobform.as_table }}
             </table>
             <span>{{errortypejob}}</span>
             <span>{{messtypejob}}</span>
            <div class="mbtn">
                <button type="submit" name="typejobSubmit" class="menterBtn" >Добавить</button></div>
        </form>
        </div>
    </div>

    <div id="f_spare" class="modalDialog">
        <div>
        <a href="#close" title="Закрыть" class="close">X</a>
            <h2 style="text-align:center">Добавление запчасти</h2>
         <form method="post" class="stl_car">
            {% csrf_token %}
            <table class="m_spareform">
                {{ spareform.as_table }}
             </table>
             <span>{{errorspare}}</span>
             <span>{{messspare}}</span>
            <div class="mbtn">
                <button type="submit" name="spareSubmit" class="menterBtn" >Добавить</button></div>
        </form>
        </div>
    </div>

<div id="f_work_order" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
        <h2 style="text-align: center">Добавление заказ-наряда</h2>
         <form method="post" class="stl_car">
            {% csrf_token %}
             <table class="m_workorderform">
                {{ mworkorderform.as_table }}
             </table>
             <span>{{errorworkorder}}</span>
             <span>{{messworkorder}}</span>
        <div class="mbtn">
            <button type="submit" name="mworkorderSubmit" class="menterBtn" >Добавить</button></div>
        </form>
    </div>
</div>

