 <table id="m_table">
        <tr>
            <th>Номер услуги:</th>
            <th>Количество запасных частей:</th>
            <th>Типы работ:</th>
            <th>Номер запчасти:</th>
        </tr>
            {% for service in services %}
                <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.number_spare_parts }}</td>
                <td>{{ service.job_id}}</td>
                <td>{{ service.guarantee}}</td>
                </tr>
            {% endfor %}

    </table>