 <table id="m_table">
        <tr>
            <th>Номер запчасти:</th>
            <th>Наименование:</th>
            <th>Остаток:</th>
            <th>Стоимость:</th>
            <th>Гарантия:</th>
        </tr>
            {% for spare in spares %}
                <tr>
                <td>{{ spare.id }}</td>
                <td>{{ spare.name}}</td>
                <td>{{ spare.remainder}}</td>
                <td>{{ spare.spare_cost}} </td>
                <td>{{ spare.guarantee}}</td>
                </tr>
            {% endfor %}

    </table>