 <table id="m_table">
        <tr>
            <th>Номер мастера:</th>
            <th>Логин:</th>
            <th>Пароль:</th>
            <th>Имя:</th>
            <th>Фамилия:</th>
            <th>Телефон:</th>
            <th>Стаж:</th>
            <th>Должность:</th>
            <th>Номер пользователя:</th>
            <th>E-mail:</th>
        </tr>
            {% for master in masters %}
                <tr>
                <td>{{ master.id }}</td>
                    {% for user in users %}
                        <td>{{ user.login}}</td>
                        <td>{{ user.password}}</td>
                        <td>{{ user.name}} </td>
                        <td>{{ user.lastname}}</td>
                        <td>{{ user.telephone}}</td>
                    {% endfor %}
                <td>{{ master.experience}}</td>
                <td>{{ master.position_id}}</td>
                <td>{{ master.user_id}}</td>
                <td>{{ master.e_mail}}</td>
                </tr>
            {% endfor %}

    </table>