 <table id="m_table">
        <tr>
            <th>Номер заказа:</th>
            <th>Дата начала:</th>
            <th>Дата заверщения:</th>
            <th style="width: 20%">Причина обращения:</th>
            <th>Общая стоимость:</th>
            <th>Статус заказа:</th>
            <th>Номер автомобиля:</th>
            <th>Номер запчасти:</th>
            <th>Номер обращения:</th>
        </tr>
            {% for workorder in workorders %}
                <tr>
                <td>{{ workorder.id }}</td>
                <td>{{ workorder.date_appeal| date:"d.m.Y" }}</td>
                <td>{{ workorder.date_completion | date:"d.m.Y"}}</td>
                <td>{{ workorder.reason_petition}}</td>
                <td>{{ workorder.total_cost}}</td>
                <td>{{ workorder.order_status}}</td>
                <td>{{ workorder.car_id}} </td>
                <td>{{ workorder.stuff_id}}</td>
                <td>{{ workorder.appointment_id}}</td>
                </tr>
            {% endfor %}

    </table>
    <!-- <form method="post" />
        {% csrf_token %}
    <div class="minput">
        <p>Дата начала:</p>{{ workorder.date_appeal}}
        <p>Дата заверщения:</p>{{ workorders.date_completion  }}</div>
    <div class="minput">
            <p>Причина обращения:</p>{{ reason_petition }}</div>
    <div class="minput">
            <p>Общая стоимость:</p>{{ total_cost }}
            <p>Статус заказа:</p>{{order_status }}</div>
    <div class="minput">
            <p>Номер автомобиля:</p>{{ car_id  }}
            <p>Номер запчасти:</p>{{ stuff_id }}
            <p>Номер обращения:</p>{{ appointment_id  }}</div>
    </form> -->