{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/m_work_order.css'%}" type="text/css">
{% endblock %}

{% block title %}Страница мастер{% endblock %}

{% block content %}

    <div id="m_work_order" class="dialog">
        <table class="m_table">
        <tr>
            <th>Номер заказа:</th>
            <th>Дата начала:</th>
            <th>Дата заверщения:</th>
            <th style="width: 20%">Причина обращения:</th>
            <th>Общая стоимость:</th>
            <th>Статус заказа:</th>
            <th>Рег. номер автомобиля:</th>
            <th>Мастер:</th>
            <th>Услуга:</th>
        </tr>
            {% for workorder in workorders %}
                <tr>
                    <td>{{ workorder.id }}</td>
                    <td>{{ workorder.date_appeal| date:"d.m.Y" }}</td>
                    <td>{{ workorder.date_completion | date:"d.m.Y"}}</td>
                    <td>{{ workorder.reason_petition}}</td>
                    <td>{{ workorder.total_cost}}</td>
                    <td>{{ workorder.order_status}}</td>
                    <td>{{ workorder.car}} </td>
                    <td>{{ workorder.staff}}</td>
                    <td>{{ workorder.services.all|join:", " }}</td>
                    <td><a href="edit_work_order/{{workorder.id}}/" title="Изменить">
                        <img style="width:25px; height:20px" src="static/css/images/icon_reddit.jpg">
                        </a>
                    </td>
                    <td><a href="delete_work_order/{{workorder.id}}/" title="Удалить">
                        <img style="width:25px; height:20px" src="static/css/images/delete.png">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="m_user" class="dialog">
         <table class="m_table">
        <tr>
            <th>Номер:</th>
            <th>Логин:</th>
            <th>Пароль:</th>
            <th>ФИО:</th>
            <th>Телефон:</th>
            <th>E-mail:</th>
        </tr>
                <tr>{% for user in masters %}
                            <td>{{ user.id}}</td>
                            <td>{{ user.login}}</td>
                            <td>{{ user.password}}</td>
                            <td>{{ user.name_lastname}}</td>
                            <td>{{ user.telephone}}</td>
                            <td>{{ user.e_mail}}</td>
                        {% endfor %}

                </tr>
        </table>
    </div>
    <div id="m_car" class="dialog">
        <table class="m_table">
        <tr>
            <th>Номер автомобиля:</th>
            <th>Модель автомобиля:</th>
            <th>Рег. знак:</th>
            <th>Цвет автомобиля:</th>
            <th>Год выпуска:</th>
            <th>Номер двигателя:</th>
            <th>Номер кузова:</th>
            <th>VIN:</th>
            <th>Расстояние в км:</th>
            <th>Клиент:</th>
        </tr>
            {% for car in cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.car_model }}</td>
                    <td>{{ car.register_sign }}</td>
                    <td>{{ car.car_color }}</td>
                    <td>{{ car.year_issue }}</td>
                    <td>{{ car.engine_number }}</td>
                    <td>{{ car.body_number }}</td>
                    <td>{{ car.vin }}</td>
                    <td>{{ car.mileage }}</td>
                    <td>{{ car.user_id }}</td>
                    <td><a href="edit_car/{{car.id}}/" title="Изменить">
                        <img style="width:25px; height:20px" src="static/css/images/icon_reddit.jpg">
                        </a>
                    </td>
                    <td><a href="delete_car/{{car.id}}/" title="Удалить">
                        <img style="width:25px; height:20px" src="static/css/images/delete.png">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="m_spare" class="dialog">
        <table class="m_table">
        <tr>
            <th>Номер запчасти:</th>
            <th>Наименование:</th>
            <th>Остаток:</th>
            <th>Стоимость:</th>
            <th>Гарантия:</th>
            <th>Поставщик:</th>
        </tr>
            {% for spare in spares %}
                <tr>
                    <td>{{ spare.id }}</td>
                    <td>{{ spare.name}}</td>
                    <td>{{ spare.remainder}}</td>
                    <td>{{ spare.spare_cost}} </td>
                    <td>{{ spare.guarantee}}</td>
                    <td>{{ spare.suppliers.all|join:", " }}</td>
                    <td><a href="edit_spare/{{spare.id}}/" title="Изменить">
                        <img style="width:25px; height:20px" src="static/css/images/icon_reddit.jpg">
                        </a>
                    </td>
                    <td><a href="delete_spare/{{spare.id}}/" title="Удалить">
                        <img style="width:25px; height:20px" src="static/css/images/delete.png">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div id="m_supplier" class="dialog">
        <table class="m_table">
        <tr>
            <th>Номер поставщика:</th>
            <th>Имя:</th>
            <th style="width: 55%">Адрес:</th>
            <th>Телефон:</th>
        </tr>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.id }}</td>
                    <td>{{ supplier.name}}</td>
                    <td>{{ supplier.address}}</td>
                    <td>{{ supplier.telephone}}</td>
                    <td><a href="edit_supplier/{{supplier.id}}/" title="Изменить">
                        <img style="width:25px; height:20px" src="static/css/images/icon_reddit.jpg">
                    </a>
                    </td>
                    <td><a href="delete_supplier/{{supplier.id}}/" title="Удалить">
                        <img style="width:25px; height:20px" src="static/css/images/delete.png">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div id="m_service" class="dialog">
        <table class="m_table">
        <tr>
            <th>Номер услуги:</th>
            <th>Количество запасных частей:</th>
            <th>Типы работ:</th>
            <th>Наименование запчасти:</th>
        </tr>
            {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.number_spare_parts }}</td>
                    <td>{{ service.job}}</td>
                    <td>{{ service.spare}}</td>
                    <td><a href="edit_service/{{service.id}}/" title="Изменить">
                            <img style="width:25px; height:20px" src="static/css/images/icon_reddit.jpg">
                        </a>
                    </td>
                    <td><a href="delete_service/{{service.id}}/" title="Удалить">
                        <img style="width:25px; height:20px" src="static/css/images/delete.png">
                        </a>
                    </td>
                </tr>

            {% endfor %}
    </table></div>

    <div id="m_type_job" class="dialog">
        <table class="m_table">
            <tr>
                <th>Номер работы:</th>
                <th>Название:</th>
                <th>Стоимость:</th>
                <th>Время выполнения(Мин.):</th>
                <th>Гарантия:</th>
            </tr>
                {% for type_job in type_jobs %}
                    <tr>
                        <td>{{ type_job.id }}</td>
                        <td>{{ type_job.name_work}}</td>
                        <td>{{ type_job.cost_work}}</td>
                        <td>{{ type_job.lead_time}}</td>
                        <td>{{ type_job.guarantee}}</td>
                        <td><a href="edit_type_job/{{type_job.id}}/" title="Изменить">
                            <img style="width:25px; height:20px" src="static/css/images/icon_reddit.jpg">
                            </a>
                        </td>
                        <td>
                            <a href="delete_type_job/{{type_job.id}}/" title="Удалить">
                            <img style="width:25px; height:20px" src="static/css/images/delete.png">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
<div id="m_appointment" class="dialog">
        <table class="m_table">
            <tr>
                <th>Номер работы:</th>
                <th>ФИО:</th>
                <th>Телефон:</th>
                <th>Автомобиль:</th>
                <th>Дата осмотра:</th>
            </tr>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ appointment.id }}</td>
                        <td>{{ appointment.name}}</td>
                        <td>{{ appointment.telephone}}</td>
                        <td>{{ appointment.car}}</td>
                        <td>{{ appointment.data | date:"d.m.Y"}}</td>
                        <td><a href="edit_appointment/{{appointment.id}}/" title="Изменить">
                            <img style="width:25px; height:20px" src="static/css/images/icon_reddit.jpg">
                            </a>
                        </td>
                        <td>
                            <a href="delete_appointment/{{appointment.id}}/" title="Удалить">
                            <img style="width:25px; height:20px" src="static/css/images/delete.png">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
    <div class="widget">
      <h3 class="widget-title">Категории</h3>
      <ul class="widget-list">
          <li><a href='#form' title="Добавить">
              Добавить
          </a>
              {% include "m_form.html" %}</li>
        <li class="btton">
            <a href="#m_work_order">Заказ-наряд</a>
        </li>
        <li class="btton">
            <a href="#m_user">Мастер</a>
        </li>
          <li class="btton">
            <a href="#m_appointment">Обращения</a>
        </li>
        <li class="btton">
            <a href="#m_car">Автомобили</a>
        </li>
        <li class="btton">
            <a href="#m_service">Услуги</a>
        </li>
        <li class="btton">
            <a href="#m_type_job">Виды работ</a>
        </li>
        <li class="btton">
            <a href="#m_spare">Запчасти</a>
        </li>
        <li class="btton">
            <a href="#m_supplier">Поставщик</a>
        </li>
          <li><a href="logout">Выйти</a></li>
      </ul>
    </div>
{% endblock %}