{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/order_phone.css'%}" type="text/css">
{% endblock %}

{% block title %}Обратный звонок{% endblock %}

{% block content %}
    <h1 style="text-align: center">Обратный звонок</h1>
    <form method="post">
    {% csrf_token %}
        <p>Имя:</p>
        {{ form.name }}
        <p>Телефон:</p>
        {{ form.telephone }}
        <span> {{ error }}</span>
        <div class="btton">
            <button type="button" class="backBtn" onclick="window.location.href='/'">Назад</button>
            <button type="submit" class="submitBtn" >Отправить заявку</button>
        </div>
    </form>
{% endblock %}