{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/order_phone.css'%}" type="text/css">
{% endblock %}

{% block title %}Обратный звонок{% endblock %}

{% block content %}
    <h1 style="text-align: center">Обратный звонок</h1>
    <form method="post">
    {% csrf_token %}
        <p>Имя:</p>
        {{ orderphoneform.name }}
        <p>Телефон:</p>
        {{ orderphoneform.telephone }}
        <span> {{ error }}</span>
        <div class="obtton">
            <button type="submit" name="phoneSubmit" class="osubmitBtn" >Отправить заявку</button>
        </div>
    </form>
{% endblock %}