{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/visitor.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}Гостевая страница{% endblock %}

{% block content %}
    <div class="hat">
        <div class="btton">
            <div class="address">
                <span>&#9990;<a href="https://wa.me/79962912643?text=Меня%20интересует%20ремонт%20авто">
                    79962912643</a>
                <img src="static/css/images/icon_map.png" style="width: 20px;height: 20px">
                <a href="https://yandex.ru/maps/54/yekaterinburg/?ll=60.539261%2C56.830600&mode=routes&rtext=~56.830448%2C60.539731&rtt=comparison&ruri=~">
                Екатеринбург, ул.Крауля 77А</a>
                    &#9993;<a href="mailto:roman.izibaeff2017@yandex.ru"> roman.izibaeff2017@yandex.ru</a></span>
            </div>
            <button onclick="window.location.href='#login'" class="loginBtn">Авторизация</button>
            <div id="login" class="modalDialog">
                <div>
                    <a href="#close" title="Закрыть" class="close">X</a>
                    {% include "login.html" %}
                </div>
            </div>
            <button onclick="window.location.href='#enter'" class="enterBtn">Вход</button>
            <div id="enter" class="modalDialog">
                <div>
                    <a href="#close" title="Закрыть" class="close">X</a>
                    {% include "enter.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="gradient">
        <div class="btton">
            <img src="static/css/images/car.jpg" style="float: right; width: 55%; height: 35%">
            <div class="text-fon">
                <h1>Автомастерская</h1>
                <h1>Автосервис Комплексного обслуживания автомобилей</h1>
            </div>
        </div>
        <div class="bton">
            <button id='btn' onclick="window.location.href='#order_phone'" class="phoneBtn">
                Заказать обратный звонок</button>
            <div id="order_phone" class="modalDialog">
                <div>
                    <a href="#close" title="Закрыть" class="close">X</a>
                    {% include "order_phone.html" %}
                </div>
            </div>
            <button id='btn' onclick="window.location.href='#appointment'" class="serviceBtn">
                Записаться на осмотр и ремонт</button>
            <div id="appointment" class="modalDialog">
                <div>
                    <a href="#close" title="Закрыть" class="close">X</a>
                    {% include "appointment.html" %}
                </div>
            </div>
        </div>
    </div>
    <p id="serv"><strong>Наши услуги</strong></p>
    <div class="service">
        <p id="serv1">Кузовной ремонт</p>
        <p id="serv1">Техническое обслуживание</p>
        <p id="serv1">Уход за автомобилем</p>
    </div>
    <div class="servicep">
        <ul class="ul">
            <li>Локальная покраска кузовных элементов - для максимального сохранения заводского лакокрасочного покрытия</li>
            <li>Покраска кузовных элементов целиком - при повреждении более 30 % площади детали</li>
            <li>Восстановление геометрии кузова и отдельных кузовных элементов</li>
            <li>Ремонт пластиковых элементов кузова</li>
            <li>Сварочные работы</li>
            <li>Замена элементов кузова, регулировка зазоров</li>
        </ul>
        <ul class="ul">
            <li>Замена технических жидкостей и фильтрующих элементов</li>
            <li>Диагностик и ремонт ходовой части </li>
            <li>Диагностика и ремонт систем рулевого управления</li>
            <li>Обслуживание и ремонт тормозной системы</li>
            <li>Обслуживание и ремонт топливной системы</li>
            <li>Ремонт системы выхлопа отработавших газов</li>
            <li>Ремонт и обслуживание двигателя</li>
            <li>Ремонт и обслуживание трансмиссии</li>
            <li>Установка доп оборудования</li>
        </ul>
        <ul class="ul">
            <li>Полировка кузова</li>
            <li>Полировка фар</li>
            <li>Выправление вмятин без покраски (технология PDR)</li>
            <li>Химчистка салона автомобиля</li>
        </ul>
    </div>
<div id="price"><div id="pr1">
    <h1 style="text-align: center">Стоимость работ</h1>
    <p >Мы не хотели бы указывать стоимость ОТ КАКОЙ-ТО цифры и вводить вас
        в заблуждение! Стоимость работ кузовного ремонта напрямую зависит
        от характера повреждения и колличества поврежденных элементов.
        Стоимость работ, связанных с техническим обслуживание, от модификации автомобиля!
        Для более точного определения объема работ и стоимости, ЖДЕМ ВАС
    НА ОСМОТР или ФОТО ВАШИХ ПОВРЕЖДЕНИЙ.</div></div></p>

{% endblock %}
