{% extends 'index.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/visitor.css' %}" type="text/css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block title %}Гостевая страница{% endblock %}

{% block content %}
            <div class="hat">
                <div class="btton">
                    <div class="address">
                        <span>&#9990;<a href="https://wa.me/79962912643?text=Меня%20интересует%20ремонт%20авто">
                            79962912643</a>
                            <img src="static/css/images/icon_map.png" style="width: 20px;height: 20px">

                            <a href="https://yandex.ru/maps/54/yekaterinburg/?ll=60.539261%2C56.830600&mode=routes&rtext=~56.830448%2C60.539731&rtt=comparison&ruri=~">
                                Екатеринбург, ул.Крауля 77А</a>
                        &#9993;<a href="mailto:roman.izibaeff2017@yandex.ru"> roman.izibaeff2017@yandex.ru</a></span>
                    </div>
                    <button id='btn' onclick="window.location.href='login.html'"
                            class="loginBtn">Авторизация</button>
                    <button id='btn' onclick="window.location.href='enter.html'"
                            class="enterBtn">Вход</button>
                </div>
            </div>
            <div class="gradient">
                <div class="btton">
                    <div class="text-fon">
                        <h1>Автомастерская</h1>
                        <h1>Автосервис Комплексного обслуживания автомобилей</h1>
                    </div>
                    <img src="static/css/images/car_image.webp" style="float: right; width: 40%">
                </div>
                <div class="bton">
                    <button id='btn' onclick="window.location.href='order_phone.html'" class="phoneBtn">
                        Заказать обратный звонок</button>
                    <button id='btn' onclick="window.location.href='appointment.html'" class="serviceBtn">
                        Записаться на осмотр и ремонт</button>
                </div>
            </div>
    </div>
{% endblock %}
